 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="#pablo">Pakki</a>
      </div>
  
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="material-icons">dashboard</i> Principal
            </a>
          </li>
          <li class="nav-item ">
            <a routerLink="/registro" class="nav-link">
              <i class="material-icons">person_add</i> Registro
            </a>
          </li>
          <li class="nav-item  active ">
            <a href="#" class="nav-link">
              <i class="material-icons">fingerprint</i> Inicia sesión
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('../../assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
         
            <div class="card card-login animated fadeIn">
                <form ngNativeValidate #f="ngForm" class="form" (ngSubmit)="ingresar(f)">
              <div class="card-header card-header-warning text-center ">
                <h4 class="card-title">Inicia sesión</h4>
                <div class="social-line">
                  <button type="button" id="btnGoogle" title="Iniciar Session con google" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-google-plus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body ">
                <p class="card-description text-center">Se Clásico</p>
                <span class="bmd-form-group">
                 
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">email</i>
                      </span>
                    </div>
                    <input [ngModel]="email" name="email" type="email" class="form-control" required placeholder="Email...">
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input ngModel name="password" type="password" class="form-control" required placeholder="Contraseña...">
                  </div>
                </span>
              </div>
              <div class="form-check text-center" style="padding-top: 10px">
                <label class="form-check-label">
                  <input [(ngModel)]="recuerdame" name="recuerdame"  class="form-check-input" type="checkbox">
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                  Recuerdame
                </label>
              </div>
              <div class="form-check">
                  <label class="form-check-label">
                    
                    <span class="form-check-sign">
                     
                    </span>
                    Olvide mi contraseña
                    <a routerLink="/pass">has click Aqui</a>.
                  </label>
                </div>
              <div class="text-center">
                  <button class="btn btn-warning btn-round mt-4" type="submit">Vamos!!</button>
                   
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                      
                      <span class="form-check-sign">
                       
                      </span>
                      Aun no tienes cuenta
                      <a routerLink="/registro">Registrate Aqui</a>.
                    </label>
                  </div>
              </form>
            </div>
          
        </div>
      </div>
    </div>
   
  </div>
