<div class="row">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="page-categories">
        <h3 class="title text-center">Cotiza tu compra</h3>
        <br />
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
              <i class="material-icons">loyalty</i> Sin compra
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#link8" role="tablist">
              <i class="material-icons">find_in_page</i> Lo compramos por ti
            </a>
          </li>
         
        
        </ul>
        <div class="tab-content tab-space tab-subcategories">
          <div class="tab-pane" id="link7">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Description about product</h4>
                <p class="card-category">
                  More information here
                </p>
              </div>
              <div class="card-body">
                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                <br>
                <br> Dramatically visualize customer directed convergence without revolutionary ROI.
              </div>
            </div>
          </div>
          <div class="tab-pane active" id="link8">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Location of the product</h4>
                <p class="card-category">
                  More information here
                </p>
              </div>
              <div class="card-body">
                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
                <br>
                <br> Dramatically maintain clicks-and-mortar solutions without functional solutions.
              </div>
            </div>
          </div>
       
         
        </div>
      </div>
    </div>
  </div>