<div class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-6">
        <div class="card ">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">add_shopping_cart</i>
            </div>
            <h4 class="card-title">Crear/Actualizar Paquete</h4>
          </div>
          <div class="card-body ">
            <form #f="ngForm" ngNativeValidate class="form" (ngSubmit)="guardarPaquete(f)">


                <div class="row">
                    <label  class="col-md-3 col-form-label">Servicio</label>
                    <div class="col-md-9">
                      <div class="form-group has-default">
                    <select [(ngModel)]="paquete.servicio" name="servicio" class="form-control select-css" required>
                      <option value="">Seleccione un Servicio</option>
                      <option *ngFor="let servicio of servicios" [value]="servicio._id">
                        {{servicio.nombre}}
                      </option>
                    </select>
                  </div>
                  </div>
                  </div>




                  <div class="row">
                      <label  class="col-md-3 col-form-label">Tienda</label>
                      <div class="col-md-9">
                        <div class="form-group has-default">
                      <select [(ngModel)]="paquete.tienda" name="tienda" class="form-control select-css" required>
                        <option value="">Seleccione una Tienda</option>
                        <option *ngFor="let tienda of tiendas" [value]="tienda._id">
                          {{tienda.nombre}}
                        </option>
                      </select>
                    </div>
                    </div>
                    </div>



                    <div class="row">
                        <label  class="col-md-3 col-form-label">Empresa Envio</label>
                        <div class="col-md-9">
                            <div class="form-group has-default">
                        <select [(ngModel)]="paquete.empresa" name="empresa" class="form-control select-css" required>
                            <option value="">Seleccione una Empresa de envio</option>
                            <option *ngFor="let empresaEnvio  of empresaEmvios" [value]="empresaEnvio._id">
                              {{empresaEnvio.nombre}}
                            </option>
                          </select>
                      </div></div></div>


                      <div class="row">
                          <label class="col-md-3 col-form-label">Numero de orden</label>
                          <div class="col-md-9">
                              <div class="form-group has-default">
                          <input [(ngModel)]="paquete.numeroOrden" name="nuero_orden" type="text" class="form-control" required>
                        </div>
                        </div>
                        </div>



              <div class="row">
                  <label class="col-md-3 col-form-label">Numero de tracking</label>
                  <div class="col-md-9">
                      <div class="form-group has-default">
                  <input [(ngModel)]="paquete.tracking" name="tracking" type="text" class="form-control" required>
                </div>
                </div>
                </div>




                <div class="row">
                    <label  class="col-md-3 col-form-label">Cantidad de articulos</label>
                    <div class="col-md-9">
                        <div class="form-group has-default">
                    <input [(ngModel)]="paquete.cantidad" name="cantidad" type="text" class="form-control" required>
                  </div></div></div>


                  <div class="row">
                      <label  class="col-md-3 col-form-label">Tipo de articulo</label>
                      <div class="col-md-9">
                          <div class="form-group has-default">
                      <input [(ngModel)]="paquete.tipoProducto" name="tipo_producto" type="text" class="form-control" required>
                    </div></div></div>


                    <div class="row">
                        <label  class="col-md-3 col-form-label">Fecha entrega</label>
                        <div class="col-md-9">
                            <div class="form-group has-default">
                        <input [(ngModel)]="paquete.entrega" name="entrega" type="text" class="form-control" >
                      </div></div></div>


                      <div class="row">
                          <label  class="col-md-3 col-form-label">Valor de articulo</label>
                          <div class="col-md-9">
                              <div class="form-group has-default">
                          <input [(ngModel)]="paquete.valorArticulo" name="valor_articulo" type="text" class="form-control" required>
                        </div></div></div>


                        <div class="row">
                            <label  class="col-md-3 col-form-label">Total envio</label>
                            <div class="col-md-9">
                                <div class="form-group has-default">
                            <input [(ngModel)]="paquete.totalEnvios" name="total_envio" type="text" class="form-control" >
                          </div></div></div>


                          


                            <div class="row">
                                <label  class="col-md-3 col-form-label">Status</label>
                                <div class="col-md-9">
                                  <div class="form-group has-default">
                                <select [(ngModel)]="paquete.status" name="status" class="form-control select-css" required>
                                  <option value="">Status</option>
                                  <option *ngFor="let statu  of status" [value]="statu._id">
                                    {{statu.nombre}}
                                  </option>
                                </select>
                              </div>
                              </div>
                              </div>

                              <div class="row">
                                <label  class="col-md-3 col-form-label">Nota:</label>
                                <div class="col-md-9">
                                    <div class="form-group has-default">
                                <input [(ngModel)]="paquete.nota" name="nota" type="text" class="form-control" >
                              </div></div></div>


           
                              <br>
                              <br>

                              <div class="row">
                                  <button type="submit" class="btn btn-fill btn-warning">Crear/Actualizar</button>

                                  <div class="">
                                      <button routerLink="/paquetes" class="btn btn-fill btn-rose">Cancelar</button>
                                    </div>

                                </div>

                                

            </form>
          </div>
         
        </div>
      </div>

      <div class="col-md-6">
          <div class="card">
              <div class="card-header card-header-warning card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">account_box</i>
                  </div>
                  <h4 class="card-title">Usuario a quien pertenece</h4>
                </div>
            <div class="card-body">
              This is some text within a card block.
            </div>
          </div>
        </div>


    </div>
  </div>
</div>